# FILE: requirements.txt
# ----------------------
fastapi
uvicorn[standard]
python-dotenv
google-generativeai
chromadb
pydantic
requests
pymongo[srv]
python-jose[cryptography]
python-multipart

# --- NEW DEPENDENCY ---
cryptography # For encrypting user tokens
